:root {
  --gray: #E2D5C2;
  --light-gray: #F1ECE5;
  --white: #f4f4f4;
  --black: #0E0E0E;
  --blue: #3C6478;
  --main-text: #2E3847;
}

html, body {
  background: var(--gray);
  color: var(--main-text);
}

#title {
  text-align: center;
}

.section{
  text-align: left;
  margin: 0em 10em; /* T L R B*/
}

.section a {
  color: var(--blue);
  text-decoration: none;
}

.code-syntax{
  font-family: 'Courier New', Courier, monospace;
  color: var(--black);
  margin-right: auto;
  padding: 0.5em 0;
  background-color: var(--light-gray);
  border: 1px solid var(--black);
  display: block;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 3px;
  color: var(--black);
  height: 50px;
}

.footer a{
  color: var(--blue);
  text-decoration: none;
}